%%-*- mode: erlang -*-
%{erl_opts, [warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{deps, [ 
	{thrift, "0.8.0",{git, "https://github.com/lpgauth/thrift-erlang.git", "master"}},
 	{cassandra_thrift, "19.30.0",{git, "https://github.com/lpgauth/cassandra-thrift-erlang.git", "19.30.0"}}
]}.
